OSH_TEXT2SQL_DEPLOY_ROOT=/www/osh-text2sql
OSH_TEXT2SQL_SERVER_PORT=19100
OSH_TEXT2SQL_DASHSCOPE_ENABLED=true
OSH_TEXT2SQL_DASHSCOPE_API_KEY=
OSH_TEXT2SQL_DASHSCOPE_MODEL=qwen-plus
OSH_TEXT2SQL_AI_PROVIDER=dashscope
OSH_TEXT2SQL_AI_REASONING_EFFORT=medium
OSH_TEXT2SQL_AICODEE_API_KEY=
OSH_TEXT2SQL_AICODEE_BASE_URL=https://v2.aicodee.com
OSH_TEXT2SQL_AICODEE_MODEL=MiniMax-M2.7-highspeed
OSH_TEXT2SQL_AICODEE_COMPLETIONS_PATH=/v1/chat/completions
OSH_TEXT2SQL_OPENAI_API_KEY=
OSH_TEXT2SQL_OPENAI_BASE_URL=https://ai.yaoyanryan.dpdns.org
OSH_TEXT2SQL_OPENAI_MODEL=gpt-5.4
OSH_TEXT2SQL_OPENAI_COMPLETIONS_PATH=/v1/chat/completions
OSH_TEXT2SQL_MYSQL_HOST=127.0.0.1
OSH_TEXT2SQL_MYSQL_PORT=3306
OSH_TEXT2SQL_MYSQL_DATABASE=backstage
OSH_TEXT2SQL_MYSQL_USERNAME=
OSH_TEXT2SQL_MYSQL_PASSWORD=
OSH_TEXT2SQL_REDIS_HOST=127.0.0.1
OSH_TEXT2SQL_REDIS_PORT=6379
OSH_TEXT2SQL_REDIS_DATABASE=0
OSH_TEXT2SQL_REDIS_PASSWORD=
OSH_TEXT2SQL_ES_BASE_URL=http://127.0.0.1:9200
OSH_TEXT2SQL_ES_USERNAME=
OSH_TEXT2SQL_ES_PASSWORD=
OSH_TEXT2SQL_KAFKA_BOOTSTRAP_SERVERS=43.242.200.25:9092
OSH_TEXT2SQL_KAFKA_SECURITY_PROTOCOL=PLAINTEXT
OSH_TEXT2SQL_KAFKA_SASL_MECHANISM=
OSH_TEXT2SQL_KAFKA_USERNAME=
OSH_TEXT2SQL_KAFKA_PASSWORD=
OSH_TEXT2SQL_HBASE_ZOOKEEPER_QUORUM=43.242.200.25
OSH_TEXT2SQL_HBASE_ZOOKEEPER_CLIENT_PORT=2181
OSH_TEXT2SQL_HBASE_ZNODE_PARENT=/hbase-2514
OSH_TEXT2SQL_HBASE_NAMESPACE=default
